.settingsContainer {
  container-type: inline-size;
  height: 100%;
  width: 100%;
}
.navTop {
  display: block;
}
.navSide {
  display: none;
}

@container (min-width: 48rem) {
  .navTop {
    display: none;
  }
  .navSide {
    display: block;
  }
}
